@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
header {
  width: 100%;
  height: 80px;
  background: #045678;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#banner {
  width: 100%;
  background: #2699d1;
  position: relative;
  overflow: hidden;
  height: 330px;
  background-size: cover;
  background-position: center;
}

.menu-toggle {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 40px;
  height: 2px;
  background: #fff;
}

.brand img {
  width: 50px;
  height: 50px;
}

/* .profile-icon, .profile-icon img {
    width: 50px;
    color: #fff;
}

.profile-icon img {
    border-radius: 50%;
}

.profile-icon:hover img {
    transform: scale(0.95);
} */
.user-menu-commands #log-in-btn {
  color: #fff;
  font-size: 40px;
}

.user-menu-commands #log-in-btn:hover {
  transform: scale(0.95);
}

.user-menu-commands {
  position: relative;
}

.tooltip-profile {
  z-index: 999;
  position: absolute;
  bottom: -150;
  right: 0;
  width: 200px;
  background: #f0f7f4;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.tooltip-profile.active {
  opacity: 1;
  visibility: visible;
}

.tooltip-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  color: #000;
  border-bottom: 1px solid #2699d1 !important;
}

.tooltip-item:first-of-type {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.tooltip-item:last-of-type {
  border-bottom: none !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tooltip-item:hover {
  background: #2699d1;
  color: #fff;
}

.profile-btn {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  will-change: transform;
}

.profile-btn:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 600px) {
  .menu-toggle span {
    display: none;
  }

  .menu-toggle {
    width: 25px;
  }
}
@media screen and (max-width: 1600px) {
  #banner {
    height: 330px !important;
  }
}
#log-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#log-popup.active {
  display: block;
}

.menu {
  background: #045678;
}

.menu {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  margin-top: 80px;
  color: #fff !important;
  padding: 15px;
  width: 74px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu li {
  @apply py-10;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  height: 60px;
  width: 100%;
}

.menu li a {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
}

.nav-link::before {
  content: "";
  width: 100%;
  height: 4px;
  background: #2699d1;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.nav-link.active::before, .nav-link:hover::before, .menu li:hover .nav-link::before {
  transform: scale(1);
}

.menu-tooltip {
  @apply absolute top-1/2 w-auto p-2 m-2 min-w-max left-14 
    rounded-md shadow-md 
    text-white bg-gray-900 
    text-sm font-bold 
    transition-all duration-100 
    transform scale-0 origin-left;
}

@media screen and (max-width: 600px) {
  .menu {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100% !important;
    height: 75px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu ul {
    display: flex;
  }

  main {
    margin-left: 0 !important;
  }

  .menu li {
    @apply px-2 py-0;
  }
}
.profile-page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
  border-bottom: 2px solid #2699d1;
  border-top: 2px solid #2699d1;
}

.profile-header > * {
  padding: 15px;
}

.profile-header .picture {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.params-page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.params-block {
  padding: 15px 0;
  border-top: 2px solid #2699d1;
}

.params-block .content, .params-block .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.params-block-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#picture-block {
  margin-top: 15px;
  flex-direction: row;
}

.params-block-content > * {
  padding: 15px;
}

.params-block .picture {
  width: 215px;
  height: 215px;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
}

.stat-number {
  height: 100px;
  width: 120px;
  @apply flex justify-center items-center flex-col shadow-lg m-3 bg-white px-1;
}

.stat-bar {
  @apply flex items-center flex-wrap;
}

.verify_account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}

.search-settings-panel.active {
  visibility: visible;
}

.search-settings-panel {
  visibility: hidden;
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.map-pane {
  z-index: 999;
  top: 80px;
  transition: 0.5s;
  height: 100%;
  width: 24rem;
  transform: translate(24rem, 0);
  overflow: auto;
}

.map-pane.active {
  transform: none;
}

.map-pane-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.map-pane-info {
  flex-grow: 1;
}

.map-pane-description {
  flex-grow: 1;
  overflow: hidden;
}

.search-page .home {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/bg-ventoux.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow: auto;
}

.info-modal .picture {
  width: 40%;
  max-height: 20vh;
  overflow: hidden;
  transition: filter 0.3s linear;
}

.info-modal .picture:hover {
  filter: sepia();
}

.info-modal .description {
  overflow: hidden;
}

.info-modal::-webkit-scrollbar {
  width: 7px;
  transform: translateX(-7px);
}

.info-modal::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

.info-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-gray-500;
}

.hero-item {
  @apply py-12 flex justify-between items-center border-0 border-b-2 border-blue-500 border-opacity-50 flex-wrap;
}

.hero-item:last-of-type {
  @apply border-b-0;
}

.hero-item.right {
  @apply sm:flex-row md:flex-row-reverse;
}

.hero-item p {
  @apply text-xl max-w-sm;
}

.hero-item img {
  @apply h-96 cursor-pointer rounded-2xl;
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #f0f7f4;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  background-image: url("../../img/bg-pattern.svg");
}

main {
  margin-left: 90px;
}

main.disconnected {
  margin-left: 0;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: -0.5px;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 34px;
  letter-spacing: 0.25px;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

/* =============== Buttons =============== */
.btn {
  @apply py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white hover:bg-blue-400 outline-none focus:ring;
}

.btn-red {
  @apply bg-red-500 text-white hover:bg-red-400 outline-none focus:ring;
}

.btn-outline-blue {
  @apply bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white border border-blue-500 hover:border-transparent rounded outline-none focus:ring;
}

.btn-outline-red {
  @apply bg-transparent hover:bg-red-500 text-red-700 hover:text-white border border-red-500 hover:border-transparent rounded outline-none focus:ring;
}

.btn-outline-green {
  @apply bg-transparent hover:bg-green-500 text-green-700 hover:text-white border border-green-500 hover:border-transparent rounded outline-none focus:ring;
}

.btn-outline-white {
  @apply bg-transparent text-gray-200 border border-gray-200 rounded;
}

.btn-outline-white:hover {
  @apply border-2;
}

.icon-btn {
  @apply flex content-around items-start;
}

/* ============ INPUTS =============== */
.label {
  @apply block text-sm font-medium text-gray-700;
}

.input {
  @apply bg-gray-300 p-3 w-72 space-x-4 rounded-lg outline-none focus:ring-indigo-600;
}

textarea {
  resize: none;
}

footer.menu-toggled {
  margin-left: 249px;
}

footer.menu-collapse {
  margin-left: 74px;
}

@media screen and (max-width: 600px) {
  footer {
    margin-left: 0;
  }
}
.drop-files {
  border: 2px dashed #2699d1 !important;
}

.alert {
  background: #2699d1;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
}

.alert-red {
  background: #b40818;
  color: #fff;
}

.icon-sm {
  @apply h-5 w-5 mb-1;
  display: inline;
}

.icon-md {
  @apply h-10 w-10 mb-1;
  display: inline;
}

.icon-lg {
  @apply h-16 w-16 mb-1;
  display: inline;
}

.login-img {
  background-image: url("../../img/man.jpg");
  background-size: cover;
  background-position: top;
}

.toast {
  display: none;
}

.toast.active {
  display: block;
  z-index: 999;
}

.pill-active {
  @apply bg-blue-400 text-white font-bold;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 80px - 15px);
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
