.search-settings-panel.active {
    visibility: visible;
}

.search-settings-panel {
    visibility: hidden;
}

// Delete modal popup
.delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}